.form-login {
	width: 100%;
	margin: auto;
	margin-top: 50px;
	max-width: 400px;
}

.container {
	display: flex;
	align-content: center;
}


.input-title {
	color: #232323;
	text-align: left;
	font-size: 80%;
	font-weight: 400;
}

.-mt-5px {
	margin-top: -5px;
}


.wrapper {
	display: flex;
	flex-direction: row;
}

.sidebar {
	background-color: #ececec;
	flex-grow: 200px;
}

/*.nav-item {
	margin-bottom: 10px;
	font-size: small;
	font-weight: 600;
}*/